/** { outline: 1px solid black; }*/

body {
    margin: 0 0 0 0;
    min-height: 100%;
    min-width: 100%;
    font-family: 'Times New Roman', Times, serif;
}
.container {
    margin: 0 0 0 0;
    display: grid;
   
}
#navbar {
    background-color: rgb(87, 59, 114);
}